div{
  font-size:50px;
  background-color:pink;
  width:500px;
  font-family:serif;
}
h1{
 background-color:pink;
 width:200px;
  font-size:40px;
  font-family:serif;
}
body{
  font-size:40px;
  font-family:serif;
}
li{
  font-size:30px;
}
ul{
  font-size:30px;
}
ol{
  font-size:20px;
}

h2{
  /* 誤字には気を付けよ！ */

  color:white;
  font-size:80px;
  background-color:black;
  font-family:serif;
  width:800px;
  height:150px;
}
img{
  width:500px;
  height:300px;
}
.selected{
  color:blue;
}
.header{
  background-color:pink;
  height:100px;
}
.main{
  background-color:red;
  width:800px;
  height:300px;
}
.footer{
  background-color:pink;
  height:290px;
  width:800px;
}
